.bg-container{
  width: 200px;
  border: 1px solid yellow;
  padding: 10px;
}

.header{
  height: 20px;
  width: 200px;
  border: 1px solid blue;
}

.circle{
  height: 100px;
  width: 100px;
  border: 1px solid blue;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: 8px;
  margin-left: 50px;
}

.div1{
  height: 15px;
  width: 100px;
  border: 1px solid blue;
  margin: 8px;
  margin: auto;
}

.div2{
  height: 15px;
  width: 190px;
  border: 1px solid blue;
  margin: 5px;
}
